<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.dept.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.icss.oa.dept.pojo.Dept" >
    <id column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="dept_loc" property="deptLoc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dept_id, dept_name, dept_loc
  </sql>

  <insert id="insert" parameterType="com.icss.oa.dept.pojo.Dept" >
    insert into dept (dept_id, dept_name, dept_loc
      )
    values (default , #{deptName,jdbcType=VARCHAR}, #{deptLoc,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dept
    where dept_id = #{deptId,jdbcType=INTEGER}
  </select>

  <select id="findAllDept" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dept
  </select>



</mapper>